Notes

<div>
</div>
<a href=" https://drive.google.com/file/d/1FhkpLK3zMTPLfVFKK2Bvv5eN-YoUEa75/view?usp=sharing"> lecture 1</a>

<div>
</div>
<a href=" https://drive.google.com/file/d/1YS53fDoKtHOxWObYFBegW5hyAyvxGYGQ/view?usp=sharing"> lecture 2</a>
<div>
</div>
<a href="https://drive.google.com/file/d/1LqznLbiEMfPxUDj2YGpssW9iiLsojsec/view?usp=sharing "> lecture 3</a>
<div>
</div>
<a href="https://drive.google.com/file/d/1DHUjI1xLkNDtSlUunlS-VBN-Lcp6VVGw/view?usp=sharing"> lecture 4</a>
<div>
</div>
<a href=" https://drive.google.com/file/d/1kkx90JhxG0J0DzwEGcsxEnX071sQq1cP/view?usp=sharing"> lecture 5</a>
<div>
</div>
<a href=" https://drive.google.com/file/d/1oKV0goOe8xKJ9UD9sysNQsFVUy462oeD/view?usp=sharing"> lecture 6</a>
<div>
</div>
<a href=" https://drive.google.com/file/d/1fblVffdsNTasIqw85pO5MOL9PZLfMgYI/view?usp=sharing"> lecture 7</a>
<div>
</div>
<a href=" https://drive.google.com/file/d/1K1Mpa4M6jjFlXFc7tHXUDOfVS0wNhCF5/view?usp=sharing"> lecture 8</a>
<div>
</div>
<a href="https://drive.google.com/file/d/1wAl-CatWztrsYLiGE_xU5uTW6r3okpTM/view?usp=sharing "> lecture 9</a>
<div>
</div>
<a href=" https://drive.google.com/file/d/1qW490mKLlUSzZPLdMLqWNyOKNlzaxQPH/view?usp=sharing"> lecture 10</a>
<div>
</div>
<a href=" https://drive.google.com/file/d/1vcv7-cS-I2FBsvGE_QZStLyWVmSTyGCK/view?usp=sharing"> lecture 11</a>

<div>
</div>
<a href=" /resoureses"> back</a>